:root {
  font-family: 'Karla', Inter, sans-serif;
  color: var(--black);
  --primary-color: #FAE16E;
  --secondary-color: #A0CFF1;
  --accent-color: #F75590;
  --black: #242424;
  --gray: #6A6A6A;
  --white: #F6F6F6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: 'Carter One';
  letter-spacing: 3px;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: max(5vh, 40px);
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  &.hidden {
    display: none;
  }
  .glass {
    height: 40px;
    &:nth-child(1) {
      animation: glassAnimationLeft 1s ease-in-out alternate infinite;
    }
    &:nth-child(2) {
      animation: glassAnimationRight 1s ease-in-out alternate infinite ;
    }
  }
}

@keyframes glassAnimationRight {
  0% {
    transform: translate(0px, 0px) rotate(0);
  }
  50% {
    transform: translate(10px, 0px) rotate(-10deg);
  }
  100% {
    transform: translate(-10px, -5px) rotate(-10deg);
  }
}

@keyframes glassAnimationLeft {
  0% {
    transform: translate(0px, 0px) rotate(0);
  }
  50% {
    transform: translate(-10px, 0px) rotate(10deg);
  }
  100% {
    transform: translate(10px, -5px) rotate(10deg);
  }
}

#three-canvas {
  padding: 20px 5vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  // pointer-events: none;
}

#main-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99;
  img {
    height: 50px;
    width: 50px;
    user-select: none;
  }
}

.menu-nav-button {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  z-index: 99;
  cursor: pointer;
  #nav-logo {
    height: 60px;
    width: 60px;
    color: var(--black);
    user-select: none;
    transition: transform 0.2s ease-out;
    &:hover {
      transform: rotate(-45deg);
    }
  }
}

.section-waves{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  &.primary {
    color: var(--primary-color)
  }
  &.secondary {
    color: var(--secondary-color)
  }
}

section {
  position: relative;
}

#header-hero {
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Carter One', sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: 8vw;
    .web-hightlight {
      color: var(--accent-color);
    }
  }
  .hero-layout {
    display: flex;
    width: 100%;
    .left {
      width: 70%;
    }
    .right {
      width: 30%;
    }
    p {
      font-size: clamp(12px, 2vw, 20px);
      margin-top: 20px;
      text-align: center;
      font-style: italic;
    }
  }
}

#bar-presentation {
  background-color: var(--primary-color);
  padding: 20px 5vw 20vw 5vw;
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 100px;
    column-gap: 10vw;
    img {
      max-height: 60vh;
      max-width: 100%;
    }
    .presentation-text {
      h3 {
        font-size: 1.4rem;
        margin-bottom: 12px;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

#cocktails {
  background-color: var(--secondary-color);
  padding: 20px 5vw 20vw 5vw;
  .layout {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    z-index: 2;
    .cocktail-item {
      display: flex;
      align-items: center;
      max-width: 800px;
      column-gap: 40px;
      &:nth-child(2n+1) {
        flex-direction: row-reverse;
        align-self: flex-end;
      }
      img {
        max-height: 33vh;
        user-select: none;
      }
      h3 {
        font-weight: 800;
        font-size: 2rem;
        margin-bottom: 0.6rem;
      }
      .ingredients {
        color: (var(--gray));
        font-size: 0.875rem;
        margin-bottom: 8px;
      }
      .description {
        font-size: 1rem;
      }
      .price {
        display: block;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 20px;
      }
    }
  }
  .blob {
    color: var(--primary-color);
    position: absolute;
    height: 65vh;
    z-index: 1;
    &.left {
      left: 0;
      top: 20%;
    }
    &.right {
      right: 0;
      top: 60%;
    }
  }
}

#history {
  background-color: var(--primary-color);
  padding: 20px 5vw 5vw 5vw;
  .layout {
    width: 80%;
    margin: auto;
    display: flex;
    column-gap: 2rem;
    position: relative;
    img {
      object-fit: contain;
      width: 33%;
    }
    .content {
      font-size: 1rem;
      text-align: justify;
    }
  }
}

#infos {
  background-color: var(--primary-color);
  padding: 20px 5vw 6vw 5vw;
  .layout {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
    .informations {
      text-align: center;
      .item {
        margin-bottom: 1.25rem;
      }
      h3 {
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .map {
      border: 2px solid var(--gray);
      border-radius: 10px;
    }
  }
  .scroll-to-top {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    height: 46px;
    width: 46px;
    color: var(--black);
    border-radius: 50%;
    cursor: pointer;
    .arrow {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      transition: transform 0.2s ease-out;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: var(--black);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    &:hover{
      &::after {
        opacity: 0.1;
      }
      .arrow {
        transform: translate(-50%, -50%);
      }
    }
  }
}

footer {
  height: 80px;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .creator {
    color: var(--secondary-color);
  }
}


@media screen and (max-width: 900px) {
  #cocktails {
    .layout {
      width: 90%;
    }
  }
}