@use "loader";
@use "nav";

:root {
  font-family: "Karla", Inter, sans-serif;
  color: var(--black);
  --primary-color: #fae16e;
  --secondary-color: #a0cff1;
  --accent-color: #FF674D; //f75590 //FF674D 
  --black: #242424;
  --gray: #525252;
  --white: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  overflow-x: hidden;
}

h2 {
  font-family: "Carter One";
  letter-spacing: 3px;
  font-size: 3rem;
  text-align: center;
  margin-top: 20px;
  margin-bottom: max(5vh, 40px);
}

#three-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  display: none;
}

#main-logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 99;
  img {
    height: 50px;
    width: 50px;
    user-select: none;
  }
}

.section-waves {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  &.primary {
    color: var(--primary-color);
  }
  &.secondary {
    color: var(--secondary-color);
  }
}

section {
  position: relative;
  overflow-x: hidden;
  & > .layout {
    max-width: 1400px;
  }
}

#header-hero {
  background: linear-gradient(135deg, #67a9d8, var(--secondary-color) 70%);
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.paused .animated{
    animation-play-state: paused;
  }
  h1 {
    font-family: "Carter One", sans-serif;
    letter-spacing: 4px;
    text-align: center;
    font-size: max(8vw);
    .web-hightlight {
      color: var(--accent-color);
    }
    .row-one {
      display: inline-block;
      opacity: 0;
      transform: translateY(-20px);
      animation: apparition 0.8s cubic-bezier(0, 0, 0.26, 0.98) forwards;
    }
    .row-two {
      display: inline-block;
      opacity: 0;
      transform: translateY(-20px);
      animation: apparition 0.8s 0.5s cubic-bezier(0, 0, 0.26, 0.98) forwards;
    }
  }
  .hero-layout {
    display: flex;
    width: 100%;
    .left {
      width: 70%;
    }
    p {
      font-size: clamp(12px, 2vw, 20px);
      margin-top: 20px;
      text-align: center;
      font-style: italic;
      opacity: 0;
      transform: translateY(-14px);
      animation: apparition 0.8s 1s cubic-bezier(0, 0, 0.26, 0.98) forwards;
    }
  }
}

@keyframes apparition {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#bar {
  background-color: var(--primary-color);
  padding: 20px 5vw 20vw 5vw;
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    row-gap: 100px;
    column-gap: min(8vw, 150px);
    padding-top: 20px;
    margin: auto;
    img {
      object-fit: contain;
      width: 100%;
      max-width: 600px;
      max-height: 60vh;
      &.rencontres {
        opacity: 0;
      }
    }
    .presentation-text {
      h3 {
        font-size: 1.5rem;
        margin-bottom: 12px;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}

#cocktails {
  background-color: var(--secondary-color);
  padding: 20px 5vw 20vw 5vw;
  .layout {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: relative;
    z-index: 2;
    .cocktail-item {
      display: flex;
      align-items: center;
      max-width: 800px;
      column-gap: 40px;
      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
        align-self: flex-end;
      }
      img {
        height: clamp(200px, calc(20vh + 160px), 400px);
        user-select: none;
      }
      h3 {
        font-weight: 800;
        font-size: 2rem;
        margin-bottom: 0.6rem;
      }
      .ingredients {
        color: (var(--gray));
        font-size: 0.875rem;
        margin-bottom: 8px;
      }
      .description {
        font-size: 1rem;
      }
      .price {
        display: block;
        font-size: 2rem;
        font-weight: 800;
        margin-top: 20px;
      }
    }
  }
  .fruit {
    height: 100px;
    width: 100px;
    user-select: none;
    position: absolute;
    z-index: 1;
    &.kiwi {
      top: 2%;
      left: 10%;
    }
    &.lemon {
      top: 30%;
      right: 10%;
    }
    &.coconut {
      top: 34%;
      left: 10%;
    }
    &.watermelon {
      top: 50%;
      right: 5%;
    }
    &.banana {
      top: 62%;
      left: 5%;
    }
    &.orange {
      bottom: 10%;
      right: 10%;
    }
  }
  .blob {
    color: var(--primary-color);
    position: absolute;
    height: 65vh;
    z-index: 1;
    &.left {
      left: 0;
      top: 20%;
    }
    &.right {
      right: 0;
      top: 60%;
    }
  }
}

#histoire {
  background-color: var(--primary-color);
  padding: 20px 5vw 5vw 5vw;
  .layout {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
    position: relative;
    img {
      object-fit: contain;
      width: 33%;
      max-height: 600px;
    }
    .content {
      font-size: 1rem;
      text-align: justify;
      max-width: 800px; 
      p {
        margin-bottom: 0.875em;
      }
    }
  }
}

#quote {
  padding: 7vw 5vw 5vw 5vw;
  background-color: var(--primary-color);
  p {
    text-align: center;
    margin: auto;
    width: 80%;
    max-width: 1000px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
}

#infos {
  background-color: var(--primary-color);
  padding: 20px 5vw 4rem 5vw;
  .layout {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10vw;
    .informations {
      text-align: center;
      white-space: nowrap;
      .item {
        margin-bottom: 1.25rem;
      }
      h3 {
        font-size: 1.6rem;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 1.2rem;
        line-height: 1.4;
      }
    }
    .map {
      border: 2px solid var(--gray);
      border-radius: 10px;
    }
  }
  .scroll-to-top {
    position: absolute;
    right: 3vw;
    bottom: 3vw;
    height: 46px;
    width: 46px;
    color: var(--black);
    border-radius: 50%;
    cursor: pointer;
    .arrow {
      height: 24px;
      width: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      transition: transform 0.2s ease-out;
    }
    &::after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background-color: var(--black);
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    &:hover {
      &::after {
        opacity: 0.1;
      }
      .arrow {
        transform: translate(-50%, -50%);
      }
    }
  }
}

footer {
  height: 80px;
  background-color: var(--black);
  color: var(--white);
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .creator {
    color: var(--secondary-color);
  }
}

.container-404 {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #67a9d8, var(--secondary-color) 70%);
  display: flex;
  row-gap: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: clamp(34px, 6vw, 110px);
    width: 90%;
  }
  a.home {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
    font-weight: 800;
    background-color: var(--primary-color);
    padding: 0.8rem 1.8rem;
    border-radius: 12px;
    position: relative;
    &::after {
      content: "Retour à l'accueil";
      color: var(--white);
      display: block;
      position: absolute;
      padding: 0.8rem 1.8rem;
      top: 0;
      left: 0;
      border-radius: 12px;
      overflow: hidden;
      background-color: var(--accent-color);
      clip-path: inset(0 100% 0 0);
      transition: clip-path 0.3s cubic-bezier(0.16, 0.73, 0.43, 0.98);
    }

    &:hover::after {
      clip-path: inset(0 0 0 0);
    }
  }
}

@media screen and (max-width: 1100px) {
  #histoire {
    .layout {
      width: 90%;
    }
  }
}

@media screen and (max-width: 900px) {
  #cocktails {
    .layout {
      width: 90%;
    }
  }
  #histoire {
    .layout {
      flex-direction: column-reverse;
      .content {
        margin-bottom: 2rem;
      }
      img {
        width: 80%;
        align-self: center;
      }
    }
  }
  #quote {
    p {
      width: 90%;
    }
  }
  #infos {
    .layout {
      width: 90%;
    }
  }
}

@media screen and (max-width: 700px) {
  #header-hero {
    .hero-layout {
      h1 {
        font-size: max(12vw, 50px);
      }
      p {
        font-size: 1rem;
      }
      .left {
        width: 100%;
      }
    }
  }
  #bar {
    h2 {
      margin-bottom: 10px;
    }
    .layout {
      width: 90%;
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-areas: "lieu-txt" "lieu-img" "rencontres-txt" "rencontres-img" "cocktails-txt" "cocktails-img";
      row-gap: 2rem;
      .lieu.presentation-text {
        grid-area: lieu-txt;
      }
      img.lieu {
        grid-area: lieu-img;
      }
      .rencontres.presentation-text {
        grid-area: rencontres-txt;
      }
      img.rencontres {
        grid-area: rencontres-img;
      }
      .cocktails.presentation-text {
        grid-area: cocktails-txt;
      }
      img.cocktails {
        grid-area: cocktails-img;
      }
      img {
        margin-bottom: 2rem;
      }
      h3 {
        text-align: center;
      }
    }
  }
  #cocktails {
    .layout {
      row-gap: 50px;
      .cocktail-item {
        flex-direction: column-reverse !important;
      }
    }
    .fruit {
      height: 90px;
      width: 90px;
      &.kiwi {
        top: 8%;
        left: 76%;
      }
      &.lemon {
        top: 25%;
        right: 2%;
      }
      &.coconut {
        top: 33%;
        left: 5%;
      }
      &.watermelon {
        top: 48%;
        right: 5%;
      }
      &.banana {
        top: 64%;
        left: 5%;
      }
      &.orange {
        bottom: 9%;
        right: 5%;
      }
    }
    .blob {
      height: 50vh;
    }
  }
  #infos {
    .layout {
      flex-direction: column;
      .informations {
        margin-bottom: 3rem;
      }
      .map {
        width: 100%;
      }
    }
  }
  #quote {
    p {
      width: 100%;
    }
  }
  .container-404 {
    a.home {
      font-size: 1.6rem;
    }
  }
}

@media screen and (max-width: 500px) {
  h2 {
    font-size: 2.3rem;
  }
}