.menu-nav {
  position: fixed;
  top: 30px;
  right: 40px;
  background: none;
  border: none;
  z-index: 99;

  &::after {
    content: "";
    height: 270px;
    width: 270px;
    border-radius: 50%;
    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 56%;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s cubic-bezier(0, 0, 0.25, 0.98);
    pointer-events: none;
  }

  &:focus-visible {
    outline: 1px solid var(--black);
    border-radius: 4px;
  }

  #nav-logo {
    height: 60px;
    width: 60px;
    color: var(--black);
    user-select: none;
    transition: transform 0.2s ease-out;
    overflow: visible;
    cursor: pointer;
    &:hover {
      transform: rotate(-45deg);
    }
  }

  .menu-item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2px;
    font-family: "Karla", Inter, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--black);
    text-decoration: none;
    outline: 0;
    pointer-events: none;

    &.one {
      transform: translate(-38px, -10px) rotate(26deg);
    }

    &.two {
      transform: translate(-62px, 44px) rotate(339deg);
    }

    &.three {
      transform: translate(-13px, 81px) rotate(289deg);
    }

    &.four {
      transform: translate(45px, 78px) rotate(237deg);
    }

    .slide {
      transform: translateX(10px);
      opacity: 0;
      transition: 0.2s cubic-bezier(0, 0, 0.25, 0.98);
      transition-property: transform, opacity;
    }
  }

  .arc {
    transform-origin: center center;
    transition: all 0.2s 0.2s cubic-bezier(0, 0, 0.25, 0.98);
  }

  .slice {
    transition: transform 0.2s cubic-bezier(0, 0, 0.25, 0.98);
  }

  &.open {
    &::after {
      transition-delay: 0.3s;
      transform: translate(-50%, -50%) scale(1);
    }

    #nav-logo {
      transform: rotate(-45deg);
    }

    .menu-item {
      pointer-events: all;
    }

    .menu-item:focus-visible {
      outline: 1px solid var(--black);
      border-radius: 2px;
    }

    .slide {
      transition-delay: 0.3s;
      transform: translateX(0);
      opacity: 1;
    }

    .arc {
      transition-delay: 0s;
      opacity: 0;
      d: path("M 60 173 A 120 120 0 0 1 60 -67");
    }

    .slice {
      transition-delay: 0.3s;

      &.one {
        transform: translate(-6px, -16px);
      }

      &.two {
        transform: translate(-16px, -5px);
      }

      &.three {
        transform: translate(-16px, 10px);
      }

      &.four {
        transform: translate(-5px, 20px);
      }
    }
  }
}
